<ion-content [fullscreen]="true">
  <div class="header">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterData()"></ion-searchbar>
    <ion-select [(ngModel)]="currentLanguage" (ionChange)="switchLanguage()">
      <ion-select-option value="pt">PT</ion-select-option>
      <ion-select-option value="en">EN</ion-select-option>
    </ion-select>
  </div>

  <div class="selector" *ngIf="selectedOption">
    <ion-select [(ngModel)]="selectedOption" (ionChange)="onChange()">
      <ion-select-option value="recipe">{{ languageService.translate("options.recipes") }}</ion-select-option>
      <ion-select-option value="restaurant">{{ languageService.translate("options.restaurants") }}</ion-select-option>
    </ion-select>
  </div>

  <div class="container">
    <div *ngIf="filteredData && filteredData.length === 0">
      <p>{{  languageService.translate("theres_no") + ' ' + selectedOption + 's' }}</p>
    </div>

    <div class="card-container" *ngIf="filteredData && filteredData.length > 0">
      <ion-card *ngFor="let item of filteredData; let i = index" (click)="openPage(i)">
        <div class="image">
          <ion-img [src]="item.image" alt=""/>
        </div>
        <ion-card-content>
          <ion-card-title class="title">{{ item.name }}</ion-card-title>
          <ion-card-subtitle class="description">{{ item.description?.[currentLanguage]  }}</ion-card-subtitle>
          <div class="chips">
            <app-category-chip [categoryName]="item.categories[0]"></app-category-chip>
            <ion-chip *ngIf="item.categories.length > 1">{{ item.categories.length - 1 }} +</ion-chip>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
