<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>{{ languageService.translate('tabs.home') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>{{ languageService.translate('tabs.history') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>{{ languageService.translate('tabs.about') }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
