<ion-content [fullscreen]="true" *ngIf="history">
  <div class="container">
    <div class="image">
      <ion-img [src]="history.image"></ion-img>
    </div>

    <h1>{{ history.title }}</h1>

    <div class="paragraphs">
      <p *ngFor="let paragraph of history.paragraphs[currentLanguage]">{{ paragraph }}</p>
    </div>

    <div class="sources">
      <h1>Sources</h1>
      <a *ngFor="let source of history.sources; let i = index" [href]="source.path">
        [{{ i+1 }}]: {{ source.title }}
      </a>
    </div>
  </div>
</ion-content>
