<ion-content [fullscreen]="true">
  <div class="banner"></div>

  <div class="container">
    <div class="avatar">
      <img src="" alt="avatar">
    </div>
    <h1>Pedro Cunha</h1>
    <div class="quick-info">
    </div>

    <h2>Contacts</h2>
    <div class="contacts">
      <p>cunha.pedroipvc.pt</p>
      <p>pedro10cunhagmail.com</p>
    </div>

    <h2>Links</h2>
    <div class="links">
      <div class="link">
        <ion-icon name="github"></ion-icon>
        <p>Github</p>
      </div>
    </div>

  </div>

</ion-content>
